<div class="flex px-10 py-2">
  <div class="w-3/12">
    <h3>Filters</h3>
    <div class="flex flex-col">
      <div class="w-full p-2 mb-4">
        <mat-form-field>
          <mat-label>Category</mat-label>
          <mat-select
            name="categoryId"
            [(ngModel)]="categoryId"
            (valueChange)="getProduct()"
          >
            @for (cat of category; track $index) {
            <mat-option [value]="cat._id">{{ cat.name }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="flex flex-col">
      <div class="w-full p-2 mb-4">
        <mat-form-field>
          <mat-label>Brand</mat-label>
          <mat-select
            name="brandId"
            [(ngModel)]="brandId"
            (valueChange)="getProduct()"
          >
            @for( category of brand; track $index){
            <mat-option [value]="category._id">{{ category.name }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="flex flex-col">
            <div class="w-full p-2 mb-4">
                <mat-form-field>
  <mat-label>Sort By</mat-label>
      <mat-select name="brandId" (valueChange)="orderChange($event)">
<mat-option [value]="1">Price Low to High</mat-option>
<mat-option [value]="-1">Price High to Low</mat-option>

   
  </mat-select>
</mat-form-field>

            </div>
        </div>
  </div>
  <div class="flex-1">
    <h3>Products</h3>
    <div class="flex flex-wrap">
      @for(product of products;track $index){
      <div class="w-3/12">
        <app-product-card [item]="product"></app-product-card>
      </div>
      } @empty {
      <h4>No Product</h4>
      }
    </div>
    <div class="flex gap-3">
        <button mat-raised-button [disabled]="page==1" (click)="pageChange(page-1)">Prev</button>
        <button mat-raised-button [disabled]="isNext" (click)="pageChange(page+1)">Next</button>

    </div>
  </div>
</div>
